<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hilfe_ultimate">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Registro">

        </activity>
        <activity android:name=".ChangePass" />
        <activity
            android:name=".FAQ"
            android:parentActivityName=".OpcionesGenerales" />
        <activity android:name=".Autenticacion" />
        <activity
            android:name=".DeveloperContact"
            android:parentActivityName=".Ajustes" />
        <activity android:name=".InformacionContacto" />
        <activity android:name=".CopiaSeguridad">

        </activity>
        <activity
            android:name=".Ajustes"
            android:label="@string/title_activity_ajustes"
            android:parentActivityName=".OpcionesGenerales" />
        <activity android:name=".AgregarContacto" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Ubicacion"
            android:label="title_activity_ubicacion" />
        <activity
            android:name=".Contactos"
            android:parentActivityName=".OpcionesGenerales" />
        <activity android:name=".OpcionesGenerales" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>